@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .divCapa {
    @apply grid 
    justify-center 
    gap-2;
  }
  .projCapa {
    @apply rounded-xl
    n0:w-[27rem] n0:h-[14rem] 
    n1:w-[22rem] n1:h-[12rem]
    n2:w-[27rem] n2:h-[14rem]    
    n3:w-[27rem] n3:h-[14rem]     
    n4:w-[27rem] n4:h-[14rem]    
    n5:w-[22rem] n5:h-[12rem]      
    n6:w-[18rem] n6:h-[10rem]      
    n7:w-[16rem] n7:h-[9rem];
  }
  .imgTitle {
    @apply text-T2 
    font-semibold
    text-lg 
    m-auto;
  }
  .projTitle {
    @apply text-T2
    text-3xl
    brightness-[2.3];
  }
  .projYear {
    @apply text-T1
    text-2xl
    font-semibold
    
    px-2    
    rounded-md    
    ;
  }
  .banner {
    @apply flex 
    justify-center;
  }
  .Icon {
    @apply w-[83px] 
    bg-BGH
    rounded-md 
    hover:opacity-70 
    flex 
    gap-1 
    items-center 
    justify-center
    cursor-pointer;
  }
  .divTec {
    @apply 
    flex 
    gap-3;
  }
  .hTec {
    @apply font-semibold 
    text-lg
    bg-BGB
    px-2
    h-7
    rounded-md
    hover:opacity-70 
    cursor-default
    brightness-200;
  }
  .p {
    @apply text-T1 
    text-lg 
    text-justify;
  }

  .pP{
    @apply text-T1 text-justify 
    n0:text-lg 
    n1:text-lg 
    n2:text-lg 
    n5:text-base       
    n7:text-sm
  }
}
