@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .divCapa {
    @apply grid 
    justify-center 
    gap-2;
  }
  .projCapa {
    @apply rounded-xl
    opacity-50
    n0:w-[27rem] n0:h-[14rem] 
    n1:w-[22rem] n1:h-[12rem]
    n2:w-[27rem] n2:h-[14rem]    
    n3:w-[27rem] n3:h-[14rem]     
    n4:w-[27rem] n4:h-[14rem]    
    n5:w-[22rem] n5:h-[12rem]      
    n6:w-[18rem] n6:h-[10rem]      
    n7:w-[16rem] n7:h-[9rem];
  }
  .imgTitle {
    @apply text-T4 
    font-semibold
    text-lg 
    m-auto;
  }
  .projTitle {
    @apply text-T1
    text-3xl
    brightness-150;
  }
  .projYear {
    @apply text-T3
    text-2xl
    font-semibold
    bg-BGB
    px-2    
    rounded-md;
  }
  .banner {
    @apply flex 
    justify-center;
  }
  .Icon {
    @apply w-[83px] 
    bg-BGB 
    rounded-md 
    hover:opacity-70 
    flex 
    gap-1 
    items-center 
    justify-center
    brightness-150
    cursor-pointer;
  }
  .divTec {
    @apply mt-10 
    flex 
    gap-3;
  }
  .hTec {
    @apply font-semibold 
    text-lg
    bg-BGB
    px-2
    h-7
    rounded-md
    hover:opacity-70 
    cursor-default
    brightness-150;
  }
}
