@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
}

.scroll-container {    
  flex-direction: column;
  gap: 48px;    
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}
.scroll-item {    
  scroll-snap-align: start;   
}

.scroll-item-first {    
  scroll-snap-align: end;   
  height: 30vh;
}

/* *::-webkit-scrollbar {
  scroll-behavior: auto;
  width: 0px;
} */

*::-webkit-scrollbar {
  width: 8px; 
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #3b27537a; 
  scrollbar-color: #888 #f1f1f1; 
  border-radius: 5px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #3b27535b;
  background: rgb(0, 0, 0);
}

::selection {
  color: #3b27535b;
  background: rgb(0, 0, 0);
}

@layer components {
  .setinha {
    @apply cursor-pointer 
    relative 
    transition-[0.5s] 
    flex 
    items-center 
    after:right-[-20px]
    after:content-["\00bb"] 
    after:absolute 
    after:opacity-0 
    after:transition-[0.5s] 
    hover:after:opacity-[1]     
    hover:pr-6    
    rounded-md    
    w-28 
    justify-center;
  }
  .buttons {
    @apply w-24
    h-8
    py-1 
    bg-[#6d6d6d18] 
    hover:bg-Bhover
    rounded-[5px] 
    text-[#ffffff46]
    text-xs
    font-semibold
    hover:underline
    flex 
    items-center 
    justify-center
    gap-[6px]
    brightness-125;
    
  }
}

.img {
  background-size: 1px;
}

#input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #030303 inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: #55396285 !important;
}
