@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .CollapsibleRoot {
    @apply w-[80vw] 
    max-w-[44rem] 
    /* max-h-[1000vh]   */
    my-2 
    flex 
    gap-5;
  }
  .CollapsibleTrigger {
    @apply flex;
  }
  .Button {
    @apply flex 
    gap-4 
    items-center 
    opacity-80 
    hover:opacity-50;
  }
  .IMG {
    @apply cursor-pointer 
    opacity-60
    brightness-105
    hover:opacity-50        
    translate-x-2
    relative
    right-2;
  }
  .Img {
    @apply opacity-80;
  }
  .LogoImg {
    @apply flex 
    items-center 
    gap-2;
  }
  .Title {
    @apply text-T2 
    text-lg 
    font-semibold;
  }
  .CollapsibleContent {
    @apply m-auto 
    max-w-[42rem] 
    mt-5;
  }
  /* .Fimg {
    @apply w-8 opacity-50 hover:opacity-30;
  } */
  .DialogOverlay {
    @apply bg-[#0000007e] 
    fixed 
    top-0 
    left-0 
    right-0 
    bottom-0;
  }
  .DialogContent {
    @apply bg-[#070707ea]
    p-7     
    rounded-md 
    grid 
    gap-5 
    fixed 
    top-[50%] 
    n5:top-[50%] 
    n7:top-[53%] 
    left-[50%] 
    overflow-y-scroll 
    overflow-x-hidden   
    transform 
    -translate-x-1/2 
    -translate-y-1/2 
    w-[90vw] max-w-3xl 
    max-h-[88vh];
  }
  .DialogTitle {
    @apply text-T1 
    text-2xl 
    font-semibold 
    flex 
    gap-3;
  }
  .formacao {
    @apply text-T1 
    text-2xl 
    font-semibold 
    flex 
    gap-3;
  }
  .P {
    @apply text-T2 brightness-75
    text-lg 
    text-justify;
  }
  
  .PP{
    @apply text-T2 text-justify brightness-[0.5]
    n0:text-lg 
    n1:text-lg 
    n2:text-lg 
    n5:text-base       
    n7:text-sm
  }

  .Proj {
    @apply hover:underline
    text-T2 
    text-lg 
    text-justify;
  }
  .Dgrid {
    @apply mt-5 
    grid 
    gap-3;
  }
  .H2 {
    @apply text-T1 
    text-xl 
    font-bold;
  }
  .IconButton {
    @apply p-2
    absolute
    top-1    
    right-0;
  }
  .Ferramentas {
    @apply flex 
    items-center 
    gap-2;
  }
  .menu {
    @apply text-xl
    text-T1 
    flex    
    h-8
    pb-2       
    relative    
    border-b-2
    border-B
    brightness-150;
    
    /* 
.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger 
*/
  } 

}

.active {  
  border-bottom: 3px solid #375949;
  padding: 1px;
  filter: brightness(100%); 
}

@keyframes blink {
  0%, 90% {
    opacity: 1;
    filter: brightness(1);
  }
  95% {
    opacity: 0.9;
    filter: brightness(1.5);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}



